<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/socket.io/socket.io.js"></script>
    <script src="room.js" defer></script>
    <title>room</title>
</head>
<body>
    <h1>Room</h1>
    <canvas id="canvas"></canvas>

    <script>
        const ROOMID = "<%=roomId%>";
        const USERID = "<%=userId%>";

    </script>

</body>
</html>